<extend name="Index/index" />


        <block name="main">
        <div class="right_col" role="main">
          <div class="">

            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>添加权限</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                      <input type="hidden" name="pid" value="{$id}"/>
                      
                      <input type="hidden" name="path" value="<?=empty($info)?'0,':$info['path'].$info['id'].','?>">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> 上级权限 </label>
                        <div class="col-md-3 col-sm-3 col-xs-12" >
                          <input type="text" required="required" class="form-control col-md-7 col-xs-12 " value="{$pri_name}" disabled="disabled" name="name">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> 权限名称 <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12" >
                          <input type="text" required="required" class="form-control col-md-7 col-xs-12 " placeholder="Username" name="pri_name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> 模块名称 <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12" >
                          <input type="text"  required="required" class="form-control col-md-7 col-xs-12 " value="admin" placeholder="Username" name="module_name">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">控制器: </label>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                          <select id="heard" class="form-control sel" required name="controller_name"  required="required">
                            <option value="0">--选择控制器--</option>
                            <option value="null">null</option>
                            <foreach name="list" item="v">
                              <option class="controller" value="{$v}"> {$v} </option>
                            </foreach>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                          <div class="col-md-7 col-sm-7 col-xs-12 method">
                            <div class="checkbox">
                              <label class="method">
                              </label>
                            </div>
                          </div>
                      </div>

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <a href="{:U('Manager/privilegeList')}" class="btn btn-primary" >返回</a>
                          <button class="btn btn-primary" type="reset">重置</button>
                          <button type="submit" class="btn btn-success">提交</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
        


    </block>
            
  <block name="script">


    <script>
      $('.sel').change(function() {
        $.ajax({
          url: "{:U('Manager/privilegeAdd')}",
          type: 'get',
          data: 'controller=' + $('.sel').val(),
          dataType: 'text',
          success: function (res) {

            console.log(res);
            $('.method').empty().append(res);
          }

        });
      })


    </script>
  </block>