<extend name="Index/index" />


        <block name="main">
            <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>管理员管理</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder=" ...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">搜索</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>角色列表</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <a href="{:U('Manager/roleAdd')}" class="btn btn-success"><i class="fa fa-plus"></i>  添加角色 </a>

                    <!-- start project list -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 30%">ID</th>
                          <th style="width: 30%"> 角色名称 </th>

                          <th style="width: 20%">操作</th>
                        </tr>
                      </thead>
                      <if>   
                      <tbody>
                      <foreach name="info" item="v" >
                        <tr>
                          <td>{$v['id']}</td>
                          <td>
                            <a>{$v['name']}</a>
                          </td> 
                          
                          <td>
                            <a href="{:U('Manager/roleEdit', ['id' => $v['id']])}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> 编辑 </a>
                            <button href="#" onclick="del(this, {$v['id']})" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> 删除 </button>
                          </td>
                        </tr>
                      </foreach >

                      </tbody>                        

                    </table>

                    <!-- 分页 -->
                    <nav style="text-align: center">
                        <ul class="pagination  pagination-lg">
                          {$btns}
                        </ul>
                    </nav>
                    <!-- end project list -->

                  </div>
                </div>
              </div>
                </block>
   <block name="script">


    <script>
      $('.pagination a,.pagination span').unwrap('<div></div>').wrap('<li></li>');
      var del = function (obj, id) {
        
        $.ajax({
          url: "{:U('Manager/roleAjaxDel')}",
          type: 'get',
          data: 'id=' + id,
          success: function (res) {
            if (res.status) {
              
              alert('删除成功');
              $(obj).parent().parent().remove();
            } else {
              alert(res);
            }
          }
        });

      }

    </script>
  </block>