<extend name="Index/index"/>



<block name="main">
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>分类列表<small>Type List</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入关键字">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">搜索</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>分类信息<small>Type Information</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>  
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      Only分类管理权限的管理员可以操作
                    </p>
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>分类名</th>
                          <th>pid</th>
                          <th>path</th>
                          <th>操作</th>
                        </tr>
                      </thead>


                      <tbody>
                      <empty name="list">
                        <tr>
                          <td colspan="5"><h3 align="center">(*_*)暂无数据~~~</h3></td>
                        </tr>
                      <else />
                      <foreach name='list' item="v">
                        <?php
                          //统计path逗号的个数
                          $num = substr_count($v['path'],',');
                          $str ='';
                          for($i = 1 ;$i< $num;$i++){
                            $str .= '　　';
                          }
                        ?>
                        <tr>
                          <td>{$v['id']}</td>
                          <td><?=($v['pid']=='0')?$v['name']:$str.'┖┈┈┈┈'.$v['name']?></td>
                          <td>{$v['pid']}</td>
                          <td>{$v['path']}</td>
                          <td tid="{$v['id']}">
                            <a href="{:U('add',['id'=>$v['id']])}"><span class="glyphicon glyphicon-plus"></a></span>
                            <a href="{:U('del',['id'=>$v['id']])}"><span class="glyphicon glyphicon-minus"></a></span>
                          </td>
                        </tr>
                        </foreach>
                        </empty>                
                      </tbody>
                    </table>
                    
                 </div>
                </div>
              </div>   
      </div>
    </div>
</block>

